@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  --font-family-montserrat: 'Montserrat', sans-serif; /* Constant for Montserrat font */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-family-montserrat);
}

#app {
  margin: 0;
  padding: 0;
}

.admin-layout {
  min-height: 100vh;
}

#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

.layout-admin {
  min-height: 100vh;
}
