.layout-content {
  min-height: 100vh;
}

#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

.card {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 4px 14px rgba(11, 69, 132, 0.15);
  margin-bottom: 10px  ;
}

.font-size-25px
{
  font-size: 25px;
}
