@import url('./user-management/profile.module.scss');
@import url('./logo.module.scss');
@import url('./content-admin.module.scss');
@import url('./user-management/group-operation.module.scss');

.admin-layout {
  min-height: 100vh;
}

#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

.layout-admin {
  min-height: 100vh;
}