.group-operation {
  list-style-type: none;

  .group-operation_item .group-operation_box {
    width: 100%;
    display: inline-flex;
    padding: 10px 20px;

    .group-operation_label {
      flex: auto;
    }
  }

  .group-operation_item.group-operation_item--box-shadow {
    margin-top: 10px;
  }
}
